@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.container, .backdrop, textarea {
  width: 95vw;
  height: 100vh;
}

.highlights, textarea {
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container {
  display: block;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #222;
  overflow: auto;
  pointer-events: none;
}

.highlights {
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #ddd;
  background-color: transparent;
  overflow: auto;
  resize: none;
}

mark {
  border-radius: 3px;
  color: transparent;
}

mark.col-a {
  background-color: #005275;
}

mark.col-b {
  background-color: #8A4D14;
}

textarea:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
}
